<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        {{{asset 'stylesheet' 'style.css'}}}
        {{{asset 'script' 'libs/jquery.js'}}}
        {{!-- {{{asset 'stylesheet' 'bootstrap/bootstrap.css'}}} --}}
        {{!-- {{{asset 'script' 'bootstrap/bootstrap.bundle.js'}}} --}}
        {{!-- {{{asset 'script' 'libs/socket.io.js'}}} --}}
        {{!-- {{{asset 'script' 'communicator.js'}}} --}}
        {{{asset 'script' 'libs/phaser.js'}}}
        {{{asset 'script' 'Objects.js'}}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>
